multiplescalculator/src/main/app/multiplescalculator.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd">
    
    <http:listener-config name="multiplescalculator-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    
    <apikit:config name="multiplescalculator-config" raml="multiplescalculator.raml" consoleEnabled="false" doc:name="Router"/>
    
    <spring:beans>
        <spring:bean id="multiplesCalculator" name="multiplesCalculator" class="com.ms3.MultiplesCalculator" scope="singleton"/>
    </spring:beans>
    
    <flow name="multiplescalculator-main">
        <http:listener config-ref="multiplescalculator-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="multiplescalculator-config" doc:name="APIkit Router"/>
        <exception-strategy ref="multiplescalculator-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    
    <flow name="multiplescalculator-console">
        <http:listener config-ref="multiplescalculator-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="multiplescalculator-config" doc:name="APIkit Console"/>
    </flow>
    
    <flow name="get:/calculateMultiples:multiplescalculator-config">
    	
    	<set-variable variableName="number1" value="#[message.inboundProperties.'http.query.params'.['number1']]" doc:name="number1 Variable" />
    	<set-variable variableName="number2" value="#[message.inboundProperties.'http.query.params'.['number2']]" doc:name="number2 Variable" />
    	
        <invoke object-ref="multiplesCalculator" method="returnNumbersListWithLables" doc:name="Invoke Spring Bean returnNumbersListWithLables" methodArguments="#[flowVars.number1],#[flowVars.number2]"/>
		<json:object-to-json-transformer doc:name="Object to JSON"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"result": payload
}]]></dw:set-payload>
        </dw:transform-message>
        
        <choice-exception-strategy doc:name="Choice Exception Strategy">
	        <catch-exception-strategy doc:name="Catch Exception Strategy">
	        	<set-property propertyName="http.status" value="500" doc:name="http status Property"/>
	        	<set-property propertyName="Content-Type" value="application/json" doc:name="content type Property"/>
            	<set-payload value="{ &quot;message&quot;: &quot;Internal Server Error and the exception is: #[exception]&quot; }" doc:name="Set Payload"/>
	        </catch-exception-strategy>
        </choice-exception-strategy>
		 
    </flow>
    
    <apikit:mapping-exception-strategy name="multiplescalculator-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad Request:Input Numbers must be with in 1 and 200 with queryParams as number1 and number2 &quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
